<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--<add key="connectionString" value="Server=10.2.1.26;Database=Parthenon;UID=parthenon;PWD=Parthenonymous;"/>-->
    <!--Production-->
    <add key="connectionString" value="Server=10.2.1.17;Database=Parthenon;UID=parthenon;PWD=parthenon;"/>
    <!--SandBox-->
    <!--<add key="connectionString" value="Server=localhost\SQLEXPRESS;Database=Parthenon;Integrated Security=True;" />-->
    <!--Dev-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ExpiredLicensesCron" value="0 4 12 ? * MON,TUE,WED,THU,FRI" />
    <add key="NewFilesCron" value="0 4 12 ? * MON,TUE,WED,THU,FRI" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ParthenonScheduler.log" traceOutputOptions="DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>